<%= form_with model: [ @product, @product.rakuten_products.build ] do |form| %>
    <table style="width:100%" border="3">
        <tr>
            <td style="width:40%"><%= form.text_field :sku %></td>
            <td><%= form.text_field :price %></td>
            <td><%= form.text_field :reference_price %></td>
            <td><%= form.submit %></td>
        </tr>
    </table>

<% end %>