<%= form_with model: product do |form| %>
    <div>
        <%= form.label :code %>
        <%= form.text_field :code%>

        <%= form.label :rakuten_code %>
        <%= form.text_field :rakuten_code %>

        <% product.errors.full_messages_for(:code).each do |message| %>
            <div>
                <%= message %>
            </div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to "To product list", products_path %>